---
import { Button } from "@/components/ui/button";
import { Card, CardContent, CardFooter, CardTitle } from "@/components/ui/card";
import { dateFormat } from "@/helpers/dateFormat";
import { IconArrowRight } from "@tabler/icons-react";

const postsRaw = await Astro.glob("../pages/blog/posts/*.{md,mdx}");
const posts = postsRaw.map((post: any) => {
  const frontmatter =
    post.frontmatter && Object.keys(post.frontmatter).length > 0
      ? post.frontmatter
      : post.article || {};
  return {
    ...post,
    frontmatter,
  };
});
const featuredPost = posts.find((post) =>
  post.file.includes("10-dicas-tempo-de-inatividade-zero")
);
---

<section
  class="w-full py-12 md:py-24 lg:py-32 bg-gray-50 dark:bg-gray-800 flex justify-center"
>
  <div class="container px-4 md:px-6">
    <h2
      class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl mb-8 text-center"
    >
      Blog Posts
    </h2>

    {
      featuredPost && (
        <Card className="rounded-xl border bg-card text-card-foreground shadow lg:col-span-2 max-w-screen-md m-auto border-foreground">
          <CardContent className="p-6">
            <div class="space-y-4">
              <div class="relative aspect-video">
                <img
                  src={featuredPost.frontmatter.image}
                  alt={featuredPost.frontmatter.title}
                  class="rounded-lg object-cover w-full"
                />
              </div>
              <CardTitle className="text-2xl font-bold">
                {featuredPost.frontmatter.title}
              </CardTitle>
              <p class="text-muted-foreground">
                {featuredPost.frontmatter.excerpt}
              </p>
              <CardFooter className="px-0">
                <div class="flex justify-between items-center w-full">
                  <span class="text-sm text-muted-foreground">
                    {dateFormat(featuredPost.frontmatter.date)}
                  </span>
                  <a href={featuredPost.url}>
                    <Button variant="default">
                      Veja mais
                      <IconArrowRight className="ml-2 h-4 w-4" />
                    </Button>
                  </a>
                </div>
              </CardFooter>
            </div>
          </CardContent>
        </Card>
      )
    }

    <div class="mt-10 text-center">
      <a href="/blog">
        <Button variant="outline" size="lg">
          Veja todos os posts
          <IconArrowRight className="ml-2 h-5 w-5" />
        </Button>
      </a>
    </div>
  </div>
</section>
